[Desktop Entry]
Name=Urban Terror
Comment=Urban Terror launcher
Exec=urbanterror
Icon=urbanterror
Terminal=false
Type=Application
Categories=Game;ActionGame;
